{{>nav}}

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="create-record">
        <form id="record-create" method="post" action="api/record">
          <div class="form-group">
            <input type="text" name="name" id="recordName" class="form-control" placeholder="Name">
          </div>
          <div class="form-group" id="gender">
            <input type="radio" name="gender" value="Male"> Male<br>
            <input type="radio" name="gender" value="Female"> Female<br>
            <input type="radio" name="gender" value="Other"> Other
          </div>
          <div class="form-group">
            <input type="date" name="dateofBirth" class="form-control" id="recordDob">
          </div>
          <div class="form-group" id="medicalConditions">
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="cancer" value="cancer">Cancer
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="heart disease" value="heart disease">Heart Disease
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="diabetes" value="diabetes">Diabetes<br>
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="asthma" value="asthma">Asthma<br>
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="mental illness" value="mental illness">Mental Illness<br>
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="high blood pressure" value="high blood pressure">High Blood Pressure<br>
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="stroke" value="stroke">Stroke<br>
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="kidney disease" value="kidney disease">Kidney Disease<br>
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="alcoholism" value="alcoholism">Alcoholism<br>
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="birth defects" value="birth defects">Birth Defects<br>
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="learning disabilities" value="learning disabilities">Learning Disabilities<br>
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="vision loss" value="vision loss">Vision Loss<br>
            </div>
            <div class="col-md-4 col-sm-6">
              <input type="checkbox" name="hearing loss" value="hearing loss">Hearing Loss<br>
            </div>
          </div>
          <div class="form-group">
            <input type="text" name="contactPerson" class="form-control" placeholder="Contact Name" id="contactName">
          </div>
          <div class="form-group">
            <input type="tel" name="contactPhone" class="form-control" placeholder="(XXX)XXX-XXXX" id="contactNumber">
          </div>
          <div class="form-group">
            <select class="form-control selectpicker" name="relation" id="relation">
              <option value=" ">Select one</option>
              <option>Father</option>
              <option>Mother</option>
              <option>Brother</option>
              <option>Life Partner</option>
              <option>Other</option>
            </select>
          </div>
          <button type="button" name="recordButton" class="btn btn-primary btn-block" id="recordButton">Submit</button>

        </form>

      </div>
    </div>

  </div>

</div>
