{{>nav}}
<div class="container">


  <div class="login-clean">
    <form id="login-form" method="get" action="/api/login">
      <h2 class="sr-only">Login Form</h2>
      <div class="illustration"><i class="icon ion-ios-medical-outline"></i></div>
      <div class="form-group">
        <input type="email" name="email" placeholder="Email" class="form-control" id="login-email" />
      </div>
      <div class="form-group">
        <input type="password" name="password" placeholder="Password" class="form-control" id="login-password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="button" id="loginBtn">Log In</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
        Not a user? Create a new one!
      </button>
      </div><a href="#" class="forgot">Forgot your email or password?</a>
    </form>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create a New User</h4>
        </div>
        <div class="modal-body">
          <div class="login-clean">
            <form method="post" id="registerForm" name="registerForm" method="POST" action="/api/user">
              <div class="form-group">
                <input type="name" name="name" placeholder="First Name" class="form-control" id="reg-firstName" />
              </div>
              <div class="form-group">
                <input type="name" name="name" placeholder="Last Name" class="form-control" id="reg-lastName" />
              </div>
              <div class="form-group">
                <input type="email" name="email" placeholder="Email" class="form-control" id="reg-email" />
              </div>
              <div class="form-group">
                <input type="password" name="password" placeholder="Password" class="form-control" id="reg-password" />
              </div>
              <div class="form-group">
                <input type="password" name="confirm-password" placeholder="Confirm Password" class="form-control" id="reg-confirmPassword" />
                <div id="regErrMsg"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createUser">Create</button>
              </div>
          </div>
        </div>
      </div>

    </div>
