{{>nav}}


<div class="container" id="withRecord">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <img src="../assets/img/stethoscope.jpg" alt="Profile Picture">
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 id="record-name">Name: {{userObj}}</h5>
      <h3 id="record-dob">Date of birth: </h5>
      <h3 id="record-age">Age: </h5>
      <h3 id="record-gender">Gender: </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12 sol-xs-12">
      <h3>all info</h3>
    </div>
  </div>

</div>
