{{>nav}}

<div class="container">

<form id="vitals" action="/api/vitals" method="post">


  <div class="row">
    <div class="col-lg-4 col-sm-6 col-xs-12 form-group">
      <h2>Heart Rate</h2>
      <input type="number" name="heartRate" id="heartInput" class="form-control">
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 form-group">
      <h2>Blood Glucose</h2>
      <input type="number" name="glucose" id="glucoseInput" class="form-control">
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 form-group">
      <h2>Weight</h2>
      <input type="number" name="weight" id="weightInput" class="form-control">
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 form-group">
      <h2>Blood Presure</h2>
      <label for="systolic">Systolic</label>
      <input type="number" name="systolic" id="systolicInput" class="form-control"><br>
      <label for="diastolic">Diastolic</label>
      <input type="number" name="diastolic" id="diastolicInput" class="form-control">
    </div>
    <div class="col-lg-4 col-sm-6 col-xs-12 form-group">
      <h2>Body Temperature</h2>
      <input type="number" name="bodyTemp" id="tempInput">
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary btn-block form-control" type="button" name="button" id="vitalBtn">Submit</button>

  </div>

  </form>
