{{>nav}}

<div class="container">
    <div class="row text-center">
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <img src="../assets/img/stethoscope.jpg" alt="Stethoscope">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <img src="../assets/img/stethoscope.jpg" alt="Stethoscope">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <img src="../assets/img/stethoscope.jpg" alt="Stethoscope">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <img src="../assets/img/stethoscope.jpg" alt="Stethoscope">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <img src="../assets/img/stethoscope.jpg" alt="Stethoscope">
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
        <img src="../assets/img/stethoscope.jpg" alt="Stethoscope">
      </div>

    </div>

</div>
